[submodule "public/projects/1-2/project-1-2"]
	path = public/projects/1-2/project-1-2
	url = git@github.com:jennymaeleidig/creative-coding-project-1-2.git
[submodule "public/projects/3/project-3"]
	path = public/projects/3/project-3
	url = git@github.com:jennymaeleidig/creative-coding-project-3.git
[submodule "public/projects/5/project-5"]
	path = public/projects/5/project-5
	url = git@github.com:jennymaeleidig/creative-coding-project-5.git
[submodule "public/projects/6/project-6"]
	path = public/projects/6/project-6
	url = git@github.com:jennymaeleidig/creative-coding-project-6.git
[submodule "public/projects/9/project-9"]
	path = public/projects/9/project-9
	url = git@github.com:jennymaeleidig/creative-coding-project-9.git
[submodule "public/projects/10/project-10"]
	path = public/projects/10/project-10
	url = git@github.com:jennymaeleidig/creative-coding-project-10.git
