.weekly-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.weekly-grid a,
.weekly-grid span {
  padding: 0.5em 1em;
  background: #f5f5f5;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: #222;
}
.weekly-grid span {
  .showcase-disabled {
    text-decoration: line-through;
    color: gray;
    pointer-events: none;
    cursor: not-allowed;
    background: #eee;
  }
  text-decoration: line-through;
  color: gray;
  pointer-events: none;
  cursor: not-allowed;
  background: #eee;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  margin-top: 1em;
}
.gallery-grid img {
  width: 100%;
}
.gallery-grid iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}
